In [ ]:
import pandas as pd

df=pd.read_csv("../datasets/Indian_housing_Delhi_data.csv")

# DATA COLLECTION

In [ ]:
df.head(6)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,1 RK Studio Apartment,400 sq ft,Kalkaji,Delhi,28.545561,77.254349,22000,INR,1.0,NaN,NaN,NaN,Posted a day ago,"Fully furnished, loaded with amenities & gadge...",No Deposit,Furnished
1,1 RK Studio Apartment,400 sq ft,Mansarover Garden,Delhi,28.643259,77.132828,20000,INR,1.0,NaN,NaN,NaN,Posted 9 days ago,Here is an excellent 1 BHK Independent Floor a...,No Deposit,Furnished
2,2 BHK Independent Floor,500 sq ft,Uttam Nagar,Delhi,28.618677,77.053352,8500,INR,1.0,NaN,NaN,NaN,Posted 12 days ago,"Zero Brokerage.\n\n2 Room set, Govt bijali Met...",No Deposit,Semi-Furnished
3,3 BHK Independent House,"1,020 sq ft",Model Town,Delhi,28.712898,77.180000,48000,INR,3.0,NaN,NaN,NaN,Posted a year ago,Itâs a 3 bhk independent house situated in M...,No Deposit,Furnished
4,2 BHK Apartment,810 sq ft,Sector 13 Rohini,Delhi,28.723539,77.131424,20000,INR,2.0,NaN,NaN,NaN,Posted a year ago,Well designed 2 bhk multistorey apartment is a...,No Deposit,Unfurnished
5,3 BHK Apartment,750 sq ft,DLF Farms,Delhi,28.488153,77.156975,11000,INR,1.0,NaN,NaN,NaN,Posted 2 years ago,Well designed 3 bhk multistorey apartment is a...,No Deposit,Semi-Furnished

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   house_type        5000 non-null   str
 1   house_size        5000 non-null   str
 2   location          5000 non-null   str
 3   city              5000 non-null   str
 4   latitude          5000 non-null   float64
 5   longitude         5000 non-null   float64
 6   price             5000 non-null   int64
 7   currency          5000 non-null   str
 8   numBathrooms      4975 non-null   float64
 9   numBalconies      2737 non-null   float64
 10  isNegotiable      179 non-null    str
 11  priceSqFt         0 non-null      float64
 12  verificationDate  5000 non-null   str
 13  description       4715 non-null   str
 14  SecurityDeposit   5000 non-null   str
 15  Status            5000 non-null   str
dtypes: float64(5), int64(1), str(10)
memory usage: 625.1 KB

In [ ]:
df.tail(2)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
4998,3 BHK Independent Floor,"2,856 sq ft",New Friends Colony,Delhi,28.567051,77.27356,301011,INR,3.0,2.0,NaN,NaN,Posted 2 months ago,Its three bhk builder floor in the super locat...,"10,10,110",Unfurnished
4999,3 BHK Independent Floor,"2,856 sq ft",New Friends Colony,Delhi,28.567051,77.27356,301012,INR,4.0,2.0,NaN,NaN,Posted 2 months ago,Its three bhk builder floor in the super locat...,"10,10,182",Unfurnished

In [ ]:
df.nunique()

house_type            28
house_size           339
location             288
city                   1
latitude             993
longitude            962
price                709
currency               1
numBathrooms          10
numBalconies           7
isNegotiable           1
priceSqFt              0
verificationDate      52
description         3820
SecurityDeposit      646
Status                 3
dtype: int64

In [ ]:
df['numBathrooms'].unique()

array([ 1.,  3.,  2.,  4.,  8.,  5.,  6.,  7.,  9., nan, 10.])

# DATA CLEANING

In [ ]:
df.isnull()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False

In [ ]:
df.isnull().sum()

house_type             0
house_size             0
location               0
city                   0
latitude               0
longitude              0
price                  0
currency               0
numBathrooms          25
numBalconies        2263
isNegotiable        4821
priceSqFt           5000
verificationDate       0
description          285
SecurityDeposit        0
Status                 0
dtype: int64

In [ ]:
df=df.drop(['priceSqFt','verificationDate','description'],axis=1)

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_type       5000 non-null   str
 1   house_size       5000 non-null   str
 2   location         5000 non-null   str
 3   city             5000 non-null   str
 4   latitude         5000 non-null   float64
 5   longitude        5000 non-null   float64
 6   price            5000 non-null   int64
 7   currency         5000 non-null   str
 8   numBathrooms     4975 non-null   float64
 9   numBalconies     2737 non-null   float64
 10  isNegotiable     179 non-null    str
 11  SecurityDeposit  5000 non-null   str
 12  Status           5000 non-null   str
dtypes: float64(4), int64(1), str(8)
memory usage: 507.9 KB

In [ ]:
df['numBathrooms']=df['numBathrooms'].fillna(0.0)
df['numBathrooms'].unique()

array([ 1.,  3.,  2.,  4.,  8.,  5.,  6.,  7.,  9.,  0., 10.])

In [ ]:
df['numBalconies']=df['numBalconies'].fillna(0.0)
df['numBalconies'].unique()

array([0., 1., 2., 3., 4., 5., 6., 8.])

In [ ]:
df['isNegotiable']=df['isNegotiable'].fillna("Not Negotiable")
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [ ]:
df.head()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,SecurityDeposit,Status
0,1 RK Studio Apartment,400 sq ft,Kalkaji,Delhi,28.545561,77.254349,22000,INR,1.0,0.0,Not Negotiable,No Deposit,Furnished
1,1 RK Studio Apartment,400 sq ft,Mansarover Garden,Delhi,28.643259,77.132828,20000,INR,1.0,0.0,Not Negotiable,No Deposit,Furnished
2,2 BHK Independent Floor,500 sq ft,Uttam Nagar,Delhi,28.618677,77.053352,8500,INR,1.0,0.0,Not Negotiable,No Deposit,Semi-Furnished
3,3 BHK Independent House,"1,020 sq ft",Model Town,Delhi,28.712898,77.180000,48000,INR,3.0,0.0,Not Negotiable,No Deposit,Furnished
4,2 BHK Apartment,810 sq ft,Sector 13 Rohini,Delhi,28.723539,77.131424,20000,INR,2.0,0.0,Not Negotiable,No Deposit,Unfurnished

In [ ]:
df.isnull().sum()

house_type         0
house_size         0
location           0
city               0
latitude           0
longitude          0
price              0
currency           0
numBathrooms       0
numBalconies       0
isNegotiable       0
SecurityDeposit    0
Status             0
dtype: int64

In [ ]:
def extract_house_size(house_size): #utility function
    price= house_size.split(" ")
    price = price[0].split(",")
    price = "".join(price)
    return float(price)

df['converted_house_size'] = df['house_size'].apply(lambda x: extract_house_size(x))
df['converted_house_size'].unique()

array([  400.,   500.,  1020.,   810.,   750.,  1300.,  1200.,  1100.,
        2500.,  1162.,   900.,  1150.,  2000.,  1350.,  1000.,  2200.,
        1800.,  1850.,  1500.,  1440.,   600.,   300.,  1600.,  2400.,
        2025.,   700.,  1050.,   450.,  7200.,   680.,   650.,  1125.,
        1250.,   800.,  1900.,  1801.,  2700.,  3000.,  1960.,   720.,
        2250.,   950.,  1700.,  2300.,  5000.,   840.,   990.,   350.,
         360.,   480.,   340.,  1872.,   550.,   495.,   540.,   630.,
         945.,   390.,   765.,  1890.,   745.,  1485.,   816.,  1080.,
         675.,  1750.,  2100.,  1710.,  1625.,  1650.,  2800.,  4500.,
        2350.,  1400.,  3600.,  2925.,  3500.,  5400.,  4000.,  3200.,
        1450.,   951.,  2750.,  2900.,   850.,  1225.,   601.,   430.,
        3420.,   560.,   490.,   756.,  1548.,   780.,   785.,  3100.,
        3379.,  2365.,   999.,  4400.,  1953.,  3400.,  2120.,  2097.,
        2600.,  7000.,   910.,  1790.,   289.,  4950.,  1870.,  3150.,
        2385.,  1820.,   520.,   820.,  1210.,   320.,   280.,   420.,
        1180.,  2050.,  1220.,  1950.,  1780.,  1980.,  4050.,  4300.,
        6000.,  3800.,  2950.,  2954.,  2953.,  1973.,  1503.,  1955.,
        9000.,  6300.,  4590.,  2390.,  5200.,  4365.,  4725.,   380.,
        1514.,  2430.,  1310.,  2150.,  1670.,   830.,   908.,  4200.,
         343.,   250.,  1460.,  2450.,   690.,   365.,  1510.,   440.,
         367.,   875.,   864.,   880.,  1550.,  1740.,   470.,   590.,
       10000.,  4350.,   870.,  3650.,   260.,   997.,   670.,   270.,
         225.,   517.,  1380.,   200.,  6251.,  5562.,  2855.,  2741.,
        2856.,  1856.,  5896.,  5569.,  3011.,  6521.,  2846.,  5891.,
        5211.,  6952.,   150.,   370.,   377.,  2852.,  4896.,  4362.,
        1525.,  7589.,  2851.,  6535.,  2253.,  2745.,  1846.,  6522.,
        5521.,  1422.,  1639.,  2160.,  3921.,  3621.,  5852.,  3010.,
        3085.,  2054.,  4852.,  4052.,   660.,  1170.,  5412.,  6052.,
        6585.,  6528.,  2858.,  2351.,  4562.,  2562.,  2886.,  2771.,
        4851.,  3001.,  4521.,  5564.,  5561.,  2854.,   789.,   389.,
        6212.,  3856.,   355.,   352.,   498.,  1851.,  6254.,   730.,
        1154.,  2080.,   754.,   398.,   465.,   788.,  2352.,  8521.,
        4741.,  2511.,  2541.,  5621.,  5523.,  7211.,   980.,  2550.,
        1270.,  1090.,   958.,   475.,  1147.,   387.,   487.,   787.,
         580.,  5469.,  2896.,   538.,  5500.,  7380.,   467.,  7712.,
        1110.,   925.,  1680.,   825.,  1275.,  1240.,  1375.,   510.,
        2877.,  9500.,   965.,  2725.,   575.,  1753.,  3121.,  6524.,
        9841., 11221.,  7411.,  5885.,   899.,  3510.,   230.,  1010.,
         180.,   760.,   853.,  1130.,   920.,   930.,   610.,   620.,
         422.,  2861.,  1420.,   891.,  1530.,   342.,  1410.,  6400.,
         425.,   801.,  6985.,  5863.,  2041.,  8000.,   445.,  5596.,
       14521.,  5586.,  1230.,  4462.,  5541.,  5893.,  6541.,  1183.,
        6321.,   333.,  1855.])

In [ ]:
df['house_type'].unique()

<StringArray>
[   '1 RK Studio Apartment ',  '2 BHK Independent Floor ',
  '3 BHK Independent House ',          '2 BHK Apartment ',
          '3 BHK Apartment ',  '3 BHK Independent Floor ',
  '4 BHK Independent Floor ',  '1 BHK Independent Floor ',
          '1 BHK Apartment ',  '8 BHK Independent Floor ',
          '4 BHK Apartment ',  '6 BHK Independent Floor ',
  '2 BHK Independent House ',  '1 BHK Independent House ',
  '5 BHK Independent Floor ',  '4 BHK Independent House ',
              '5 BHK Villa ',  '5 BHK Independent House ',
  '7 BHK Independent Floor ',  '8 BHK Independent House ',
 '10 BHK Independent House ',  '7 BHK Independent House ',
  '9 BHK Independent House ',              '8 BHK Villa ',
              '4 BHK Villa ',          '5 BHK Apartment ',
          '6 BHK penthouse ', '12 BHK Independent House ']
Length: 28, dtype: str

In [ ]:
df['location'].unique()

<StringArray>
[                'Kalkaji',       'Mansarover Garden',
             'Uttam Nagar',              'Model Town',
        'Sector 13 Rohini',               'DLF Farms',
             'laxmi nagar',          'Swasthya Vihar',
               'Janakpuri',               'Pitampura',
 ...
        'Sector 34 Rohini',            'Nirman Vihar',
      'Chattarpur Enclave',     'Vasant Kunj Enclave',
 'Mayur Vihar 1 Extension',               'Santnagar',
    'Kasturba Gandhi Marg',            'Vipin Garden',
   'West Patel Nagar Road',                'dda flat']
Length: 288, dtype: str

In [ ]:
df['city'].unique()

<StringArray>
['Delhi']
Length: 1, dtype: str

In [ ]:
df['price']=df['price'].astype(float)
df['price'].dtype

dtype('float64')

In [ ]:
df['currency'].unique()

<StringArray>
['INR']
Length: 1, dtype: str

In [ ]:
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [ ]:
def clean_security_deposit(security_deposit):
    if security_deposit == 'No Deposit':
        return 0.0
    else:
        security_deposit = security_deposit.split(",")
        security_deposit = "".join(security_deposit)
        security_deposit.strip()
        return int(security_deposit)
    
df['cleaned_security_deposit'] = df['SecurityDeposit'].apply(lambda x: clean_security_deposit(x))
df['cleaned_security_deposit'].dtype

dtype('float64')

In [ ]:
df['Status'].unique()

<StringArray>
['Furnished', 'Semi-Furnished', 'Unfurnished']
Length: 3, dtype: str

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                5000 non-null   str
 1   house_size                5000 non-null   str
 2   location                  5000 non-null   str
 3   city                      5000 non-null   str
 4   latitude                  5000 non-null   float64
 5   longitude                 5000 non-null   float64
 6   price                     5000 non-null   float64
 7   currency                  5000 non-null   str
 8   numBathrooms              5000 non-null   float64
 9   numBalconies              5000 non-null   float64
 10  isNegotiable              5000 non-null   str
 11  SecurityDeposit           5000 non-null   str
 12  Status                    5000 non-null   str
 13  converted_house_size      5000 non-null   float64
 14  cleaned_security_deposit  5000 non-null   float64
dtypes: float64(7), str(8)
memory usage: 586.1 KB

In [ ]:
df=df.drop(['SecurityDeposit', 'house_size'],axis=1)
df.head()

,house_type,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit
0,1 RK Studio Apartment,Kalkaji,Delhi,28.545561,77.254349,22000.0,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0
1,1 RK Studio Apartment,Mansarover Garden,Delhi,28.643259,77.132828,20000.0,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0
2,2 BHK Independent Floor,Uttam Nagar,Delhi,28.618677,77.053352,8500.0,INR,1.0,0.0,Not Negotiable,Semi-Furnished,500.0,0.0
3,3 BHK Independent House,Model Town,Delhi,28.712898,77.180000,48000.0,INR,3.0,0.0,Not Negotiable,Furnished,1020.0,0.0
4,2 BHK Apartment,Sector 13 Rohini,Delhi,28.723539,77.131424,20000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,810.0,0.0

In [ ]:
def get_numRooms(house_type):
    return int(house_type.split(" ")[0])

def get_configuration(house_type):
    return house_type.split(" ")[1]

def get_house_type(house_type):
    house_type = " ".join(house_type.split(" ")[2:])
    return house_type.strip()

df['numRooms'] = df['house_type'].apply(lambda x: get_numRooms(x))
df['house_configuration'] = df['house_type'].apply(lambda x: get_configuration(x))
df['cleaned_house_type'] = df['house_type'].apply(lambda x: get_house_type(x))
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                5000 non-null   str
 1   location                  5000 non-null   str
 2   city                      5000 non-null   str
 3   latitude                  5000 non-null   float64
 4   longitude                 5000 non-null   float64
 5   price                     5000 non-null   float64
 6   currency                  5000 non-null   str
 7   numBathrooms              5000 non-null   float64
 8   numBalconies              5000 non-null   float64
 9   isNegotiable              5000 non-null   str
 10  Status                    5000 non-null   str
 11  converted_house_size      5000 non-null   float64
 12  cleaned_security_deposit  5000 non-null   float64
 13  numRooms                  5000 non-null   int64
 14  house_configuration       5000 non-null   str
 15  cleaned_house_type        5000 non-null   str
dtypes: float64(7), int64(1), str(8)
memory usage: 625.1 KB

In [ ]:
df = df.drop('house_type', axis=1)
df.head()

,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit,numRooms,house_configuration,cleaned_house_type
0,Kalkaji,Delhi,28.545561,77.254349,22000.0,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,1,RK,Studio Apartment
1,Mansarover Garden,Delhi,28.643259,77.132828,20000.0,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,1,RK,Studio Apartment
2,Uttam Nagar,Delhi,28.618677,77.053352,8500.0,INR,1.0,0.0,Not Negotiable,Semi-Furnished,500.0,0.0,2,BHK,Independent Floor
3,Model Town,Delhi,28.712898,77.180000,48000.0,INR,3.0,0.0,Not Negotiable,Furnished,1020.0,0.0,3,BHK,Independent House
4,Sector 13 Rohini,Delhi,28.723539,77.131424,20000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,810.0,0.0,2,BHK,Apartment

In [ ]:
df.columns

Index(['location', 'city', 'latitude', 'longitude', 'price', 'currency',
       'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
       'converted_house_size', 'cleaned_security_deposit', 'numRooms',
       'house_configuration', 'cleaned_house_type'],
      dtype='str')

In [ ]:
df_delhi = df[['numRooms', 'house_configuration', 'cleaned_house_type', 
               'location', 'city', 'latitude', 'longitude', 'currency',
                'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
               'converted_house_size', 'cleaned_security_deposit', 'price']]

df_delhi.corr()

,numRooms,house_configuration,cleaned_house_type,location,city,latitude,longitude,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit,price
0,1,RK,Studio Apartment,Kalkaji,Delhi,28.545561,77.254349,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,22000.0
1,1,RK,Studio Apartment,Mansarover Garden,Delhi,28.643259,77.132828,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,20000.0
2,2,BHK,Independent Floor,Uttam Nagar,Delhi,28.618677,77.053352,INR,1.0,0.0,Not Negotiable,Semi-Furnished,500.0,0.0,8500.0
3,3,BHK,Independent House,Model Town,Delhi,28.712898,77.180000,INR,3.0,0.0,Not Negotiable,Furnished,1020.0,0.0,48000.0
4,2,BHK,Apartment,Sector 13 Rohini,Delhi,28.723539,77.131424,INR,2.0,0.0,Not Negotiable,Unfurnished,810.0,0.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4,BHK,Villa,Sunder Nagar,Delhi,28.618437,76.961784,INR,4.0,2.0,Not Negotiable,Unfurnished,5896.0,4010102.0,1022001.0
4996,5,BHK,Independent House,Sunder Nagar,Delhi,28.618437,76.961784,INR,4.0,2.0,Not Negotiable,Unfurnished,6521.0,5401015.0,1549181.0
4997,3,BHK,Independent Floor,New Friends Colony,Delhi,28.567051,77.273560,INR,3.0,2.0,Not Negotiable,Unfurnished,1855.0,1818181.0,301012.0
4998,3,BHK,Independent Floor,New Friends Colony,Delhi,28.567051,77.273560,INR,3.0,2.0,Not Negotiable,Unfurnished,2856.0,1010110.0,301011.0
4999,3,BHK,Independent Floor,New Friends Colony,Delhi,28.567051,77.273560,INR,4.0,2.0,Not Negotiable,Unfurnished,2856.0,1010182.0,301012.0