In [33]:
import pandas as pd

df=pd.read_csv("../../datasets/Indian_housing_Mumbai_data.csv")

# DATA COLLECTION

In [34]:
df.head(6)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,2 BHK Apartment,"1,180 sq ft",Ulwe,Mumbai,18.971046,73.017723,19000,INR,2.0,NaN,NaN,NaN,Posted 2 years ago,It has area of 1180 sqft and is available at a...,No Deposit,Furnished
1,2 BHK Apartment,"1,120 sq ft",Ulwe,Mumbai,18.966377,73.012802,12500,INR,2.0,NaN,NaN,NaN,Posted 2 years ago,Well designed 2 bhk multistorey apartment is a...,No Deposit,Unfurnished
2,2 BHK Apartment,"1,200 sq ft",Panvel,Mumbai,18.965979,73.124649,22000,INR,2.0,NaN,NaN,NaN,Posted a month ago,A spacious 2 bhk multistorey apartment is avai...,No Deposit,Unfurnished
3,2 BHK Apartment,750 sq ft,Kandivali West,Mumbai,19.213598,72.833633,28500,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,It has a built-up area of 750 sqft and is avai...,No Deposit,Unfurnished
4,3 BHK Apartment,"1,400 sq ft",Chembur,Mumbai,19.062933,72.892395,50000,INR,3.0,NaN,NaN,NaN,Posted 3 years ago,The house is semi-furnished. It has power back...,No Deposit,Semi-Furnished
5,1 RK Studio Apartment,450 sq ft,Badlapur East,Mumbai,19.144207,73.246994,3000,INR,1.0,NaN,NaN,NaN,Posted 3 years ago,This spacious 1 rk multistorey apartment is av...,No Deposit,Unfurnished

In [35]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   house_type        5000 non-null   str
 1   house_size        5000 non-null   str
 2   location          5000 non-null   str
 3   city              5000 non-null   str
 4   latitude          5000 non-null   float64
 5   longitude         5000 non-null   float64
 6   price             5000 non-null   int64
 7   currency          5000 non-null   str
 8   numBathrooms      4986 non-null   float64
 9   numBalconies      733 non-null    float64
 10  isNegotiable      571 non-null    str
 11  priceSqFt         0 non-null      float64
 12  verificationDate  5000 non-null   str
 13  description       4922 non-null   str
 14  SecurityDeposit   5000 non-null   str
 15  Status            5000 non-null   str
dtypes: float64(5), int64(1), str(10)
memory usage: 625.1 KB

In [36]:
df.tail(2)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
4998,3 BHK Apartment,"1,930 sq ft",Kharghar,Mumbai,19.028339,73.057526,65000,INR,3.0,NaN,NaN,NaN,Posted a year ago,"It is a furnished property. It has 1 wardrobe,...","2,00,000",Furnished
4999,2 BHK Apartment,"1,260 sq ft",Kharghar,Mumbai,19.043421,73.078125,31500,INR,2.0,1.0,NaN,NaN,Posted a year ago,It has an area of 1260 sqft . The property is ...,"80,000",Semi-Furnished

In [37]:
df.nunique()

house_type            21
house_size           622
location             189
city                   2
latitude            2312
longitude           2217
price                311
currency               1
numBathrooms           7
numBalconies           6
isNegotiable           1
priceSqFt              0
verificationDate      51
description         4480
SecurityDeposit       76
Status                 3
dtype: int64

In [38]:
df['numBathrooms'].unique()

array([ 2.,  3.,  1.,  4.,  5.,  6., nan,  7.])

# DATA CLEANING

In [39]:
df.isnull()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False

In [40]:
df.isnull().sum()

house_type             0
house_size             0
location               0
city                   0
latitude               0
longitude              0
price                  0
currency               0
numBathrooms          14
numBalconies        4267
isNegotiable        4429
priceSqFt           5000
verificationDate       0
description           78
SecurityDeposit        0
Status                 0
dtype: int64

In [41]:
df=df.drop(['priceSqFt','verificationDate','description'],axis=1)

In [42]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_type       5000 non-null   str
 1   house_size       5000 non-null   str
 2   location         5000 non-null   str
 3   city             5000 non-null   str
 4   latitude         5000 non-null   float64
 5   longitude        5000 non-null   float64
 6   price            5000 non-null   int64
 7   currency         5000 non-null   str
 8   numBathrooms     4986 non-null   float64
 9   numBalconies     733 non-null    float64
 10  isNegotiable     571 non-null    str
 11  SecurityDeposit  5000 non-null   str
 12  Status           5000 non-null   str
dtypes: float64(4), int64(1), str(8)
memory usage: 507.9 KB

In [43]:
df['numBathrooms']=df['numBathrooms'].fillna(0.0)
df['numBathrooms'].unique()

array([2., 3., 1., 4., 5., 6., 0., 7.])

In [44]:
df['numBalconies']=df['numBalconies'].fillna(0.0)
df['numBalconies'].unique()

array([0., 2., 4., 1., 5., 6., 3.])

In [45]:
df['isNegotiable']=df['isNegotiable'].fillna("Not Negotiable")
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [46]:
df.head()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,SecurityDeposit,Status
0,2 BHK Apartment,"1,180 sq ft",Ulwe,Mumbai,18.971046,73.017723,19000,INR,2.0,0.0,Not Negotiable,No Deposit,Furnished
1,2 BHK Apartment,"1,120 sq ft",Ulwe,Mumbai,18.966377,73.012802,12500,INR,2.0,0.0,Not Negotiable,No Deposit,Unfurnished
2,2 BHK Apartment,"1,200 sq ft",Panvel,Mumbai,18.965979,73.124649,22000,INR,2.0,0.0,Not Negotiable,No Deposit,Unfurnished
3,2 BHK Apartment,750 sq ft,Kandivali West,Mumbai,19.213598,72.833633,28500,INR,2.0,0.0,Not Negotiable,No Deposit,Unfurnished
4,3 BHK Apartment,"1,400 sq ft",Chembur,Mumbai,19.062933,72.892395,50000,INR,3.0,0.0,Not Negotiable,No Deposit,Semi-Furnished

In [47]:
df.isnull().sum()

house_type         0
house_size         0
location           0
city               0
latitude           0
longitude          0
price              0
currency           0
numBathrooms       0
numBalconies       0
isNegotiable       0
SecurityDeposit    0
Status             0
dtype: int64

In [48]:
def extract_house_size(house_size): #utility function
    price= house_size.split(" ")
    price = price[0].split(",")
    price = "".join(price)
    return float(price)

df['converted_house_size'] = df['house_size'].apply(lambda x: extract_house_size(x))
df['converted_house_size'].unique()

array([1180., 1120., 1200.,  750., 1400.,  450.,  700.,  600., 1045.,
       1900., 1150., 1246.,  650., 1000., 1300., 1050., 1360.,  710.,
        950., 2000.,  500., 2175., 2800.,  670.,  275., 1075., 1005.,
        380.,  850.,  900.,  960.,  596., 3600., 2200., 1700.,  550.,
       2100.,  715., 1568.,  545.,  685., 1208.,  350.,  875., 1100.,
        810., 3400., 1250.,  800., 1459., 1350.,  744.,  400., 1830.,
        645., 1500., 1800.,  825.,  580.,  615.,  980., 4111.,  510.,
       1750.,  240., 1058., 3200.,  695.,  630., 2900., 1377., 2700.,
       1135.,  865., 1235.,  735.,  780.,  830., 1440.,  585., 1450.,
        620.,  635.,  598.,  953., 1352., 1470.,  910.,  597.,  590.,
       1550.,  952.,  610., 1310., 1600.,  410., 1020.,  680.,  530.,
        840.,  640., 1090.,  575.,  315., 3800., 3500.,  835., 3000.,
        677.,  300.,  970., 1210., 1198.,  425.,  480.,  552., 1040.,
        890.,  675., 1860.,  340., 4370., 1325., 2500.,  690.,  540.,
        560., 1160.,  990.,  570.,  659.,  775.,  555.,  460., 1850.,
        999.,  888., 2150., 1081., 1650., 1035.,  625.,  271.,  753.,
       2300., 1950., 1848., 4500., 3340., 3550., 2070., 8326.,  790.,
       1593.,  774.,  918.,  798., 1098.,  909.,  864., 1161.,  595.,
       1730., 6000.,  975.,  632., 2050., 2212.,  880., 2530., 1267.,
       1460., 1078., 1611., 2400., 1915., 3100., 1110., 1260., 1230.,
       2880., 1530., 5000., 1560.,  624.,  415., 1030.,  569., 1060.,
        665.,  445., 1140.,  920., 1149.,  962.,  662.,  725.,  515.,
        586.,  520.,  512.,  565.,  385., 1380., 1015., 5500.,  525.,
        845.,  723.,  895.,  485.,  390.,  660.,  420.,  965.,  885.,
       2107., 1335., 1010.,  992.,  989.,  995.,  836.,  903.,  820.,
        225.,  981., 1130., 1063., 1760., 4000., 1148., 1356., 1222.,
       1355.,  935.,  470.,  360., 1765., 1255.,  655.,  730.,  310.,
       1580.,  819.,  594.,  584., 1322., 1770.,  956., 1085., 2170.,
        602., 1023., 1725., 1585., 3750., 1528.,  905.,  985.,  930.,
       1285., 1221., 1106.,  405., 1025., 5700., 1220., 2250., 1402.,
        896., 1019.,  870.,  250., 1165.,  459., 1790.,  444., 1655.,
       1115.,  558., 1521., 2343., 2205., 2680., 1170.,  260., 1678.,
       1240., 1275., 1205., 1421., 1780., 2750., 1234., 1225.,  345.,
        860., 1070., 1430., 1960., 1121., 1101., 2202., 1105., 1820.,
       1480.,  968., 1026., 2450.,  605., 1740.,  760., 1313., 1125.,
       1178.,  923., 1162., 1080.,  388., 2600., 1645., 1214., 2005.,
       1395., 1111., 1365., 1635.,  805., 3360.,  770., 1190., 1641.,
       3900.,  720., 2650., 1390.,  759., 1545.,  571., 1197., 1048.,
       1590., 1367., 1666.,  475.,  270., 1282.,  465.,  437.,  834.,
        508.,  527.,  699., 1520., 1690., 1680.,  857.,  544., 1668.,
        963., 1166., 1816.,  683.,  535.,  658., 1420.,  972.,  599.,
        705.,  653., 1133., 1327.,  971.,  150.,  403.,  945., 1422.,
       1665., 1454., 1158., 6500., 7000.,  951., 1330., 4800., 2224.,
        684.,  641.,  934.,  884.,  439.,  741.,  826.,  434.,  702.,
        877.,  651.,  802., 1345., 1027.,  876.,  986.,  582., 1258.,
        693., 1195.,  357.,  792.,  940., 1053.,  994., 1642., 1245.,
        681.,  687., 1254.,  654.,  648.,  671.,  667.,  678.,  622.,
       1499.,  295.,  370.,  537., 1113., 1211.,  320.,  761.,  355.,
        587.,  755.,  758., 4400., 1055.,  811.,  842.,  572., 1302.,
        806., 1068.,  829.,  988.,  926.,  514.,  505.,  406., 1495.,
        553.,  578., 2242., 1660., 1570., 1199., 1366.,  477.,  767.,
        642.,  365.,  925., 1663., 1938., 1242., 1247., 3920.,  663.,
       2260.,  955.,  917.,  785., 1049., 1283.,  915., 1751., 1701.,
       1342.,  729., 1037.,  453., 1092., 2317.,  664.,  507., 1024.,
       1376., 1487.,  817., 1423., 1228., 1047., 1405.,  526.,  781.,
       1201., 1305., 1196., 1126.,  898., 1014., 1315., 1184., 1227.,
       1043., 1219.,  631.,  430.,  804.,  568.,  649.,  688., 1244.,
       2465., 2550.,  954.,  929., 5200., 1008.,  740., 1640., 1248.,
        862.,  280.,  656.,  708., 1241., 1094., 1807., 1157.,  998.,
       1525., 1670., 1265.,  344., 1515., 2245.,  689., 1901.,  946.,
        606.,  440., 1087.,  230.,  180.,  200., 1638.,  556.,  766.,
       1175.,  541.,  554.,  657., 1710.,  455.,  321.,  791.,  824.,
        366.,  518.,  523., 1088.,  325.,  652., 1145.,  757., 1073.,
       1930., 1236.,  442.,  721., 1013., 1122., 1017., 1239.,  942.,
       1845., 1955.,  847.,  644., 1264.,  949.,  613., 1502., 1458.,
       1185.,  668., 1489., 1810., 1077., 1138., 1378., 1461., 1946.,
        943., 1147., 5400., 2795., 3640.,  481., 1498., 1061., 2390.,
       1410., 1171., 1065., 1554., 1445.,  906.,  474., 1389., 1204.,
       1624.,  714.,  703., 1287.,  855.,  679., 1591., 1153., 1397.,
        330.])

In [49]:
df['house_type'].unique()

<StringArray>
[        '2 BHK Apartment ',         '3 BHK Apartment ',
   '1 RK Studio Apartment ',         '1 BHK Apartment ',
         '4 BHK Apartment ', '1 BHK Independent Floor ',
             '3 BHK Villa ', '3 BHK Independent House ',
 '4 BHK Independent House ',             '4 BHK Villa ',
         '6 BHK Apartment ', '2 BHK Independent House ',
         '5 BHK Apartment ',             '1 BHK Villa ',
 '4 BHK Independent Floor ',             '6 BHK Villa ',
             '5 BHK Villa ', '3 BHK Independent Floor ',
 '2 BHK Independent Floor ',         '6 BHK penthouse ',
 '1 BHK Independent House ']
Length: 21, dtype: str

In [50]:
df['location'].unique()

<StringArray>
[                  'Ulwe',                 'Panvel',         'Kandivali West',
                'Chembur',          'Badlapur East',              'Dombivali',
            'Bandra West',           'Andheri East',         'Bhayandar East',
          'Goregaon West',
 ...
 'Sector5 Kopar Khairane',        'Nalasopara East',          'Gulmohar Road',
           'Dahisar East',      'vakola santacuz e',                'Dharavi',
            'Kapurbawadi',                 'Vakola',     'Sector 12 Kharghar',
              'Saki Naka']
Length: 189, dtype: str

In [51]:
df['city'].unique()

<StringArray>
['Mumbai', 'Hisar']
Length: 2, dtype: str

In [52]:
df['price']=df['price'].astype(float)
df['price'].dtype

dtype('float64')

In [53]:
df['currency'].unique()

<StringArray>
['INR']
Length: 1, dtype: str

In [54]:
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [55]:
def clean_security_deposit(security_deposit):
    if security_deposit == 'No Deposit':
        return 0.0
    else:
        security_deposit = security_deposit.split(",")
        security_deposit = "".join(security_deposit)
        security_deposit.strip()
        return int(security_deposit)
    
df['cleaned_security_deposit'] = df['SecurityDeposit'].apply(lambda x: clean_security_deposit(x))
df['cleaned_security_deposit'].dtype

dtype('float64')

In [56]:
df['Status'].unique()

<StringArray>
['Furnished', 'Unfurnished', 'Semi-Furnished']
Length: 3, dtype: str

In [57]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                5000 non-null   str
 1   house_size                5000 non-null   str
 2   location                  5000 non-null   str
 3   city                      5000 non-null   str
 4   latitude                  5000 non-null   float64
 5   longitude                 5000 non-null   float64
 6   price                     5000 non-null   float64
 7   currency                  5000 non-null   str
 8   numBathrooms              5000 non-null   float64
 9   numBalconies              5000 non-null   float64
 10  isNegotiable              5000 non-null   str
 11  SecurityDeposit           5000 non-null   str
 12  Status                    5000 non-null   str
 13  converted_house_size      5000 non-null   float64
 14  cleaned_security_deposit  5000 non-null   float64
dtypes: float64(7), str(8)
memory usage: 586.1 KB

In [58]:
df=df.drop(['SecurityDeposit', 'house_size'],axis=1)
df.head()

,house_type,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit
0,2 BHK Apartment,Ulwe,Mumbai,18.971046,73.017723,19000.0,INR,2.0,0.0,Not Negotiable,Furnished,1180.0,0.0
1,2 BHK Apartment,Ulwe,Mumbai,18.966377,73.012802,12500.0,INR,2.0,0.0,Not Negotiable,Unfurnished,1120.0,0.0
2,2 BHK Apartment,Panvel,Mumbai,18.965979,73.124649,22000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,1200.0,0.0
3,2 BHK Apartment,Kandivali West,Mumbai,19.213598,72.833633,28500.0,INR,2.0,0.0,Not Negotiable,Unfurnished,750.0,0.0
4,3 BHK Apartment,Chembur,Mumbai,19.062933,72.892395,50000.0,INR,3.0,0.0,Not Negotiable,Semi-Furnished,1400.0,0.0

In [59]:
def get_numRooms(house_type):
    return int(house_type.split(" ")[0])

def get_configuration(house_type):
    return house_type.split(" ")[1]

def get_house_type(house_type):
    house_type = " ".join(house_type.split(" ")[2:])
    return house_type.strip()

df['numRooms'] = df['house_type'].apply(lambda x: get_numRooms(x))
df['house_configuration'] = df['house_type'].apply(lambda x: get_configuration(x))
df['cleaned_house_type'] = df['house_type'].apply(lambda x: get_house_type(x))
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                5000 non-null   str
 1   location                  5000 non-null   str
 2   city                      5000 non-null   str
 3   latitude                  5000 non-null   float64
 4   longitude                 5000 non-null   float64
 5   price                     5000 non-null   float64
 6   currency                  5000 non-null   str
 7   numBathrooms              5000 non-null   float64
 8   numBalconies              5000 non-null   float64
 9   isNegotiable              5000 non-null   str
 10  Status                    5000 non-null   str
 11  converted_house_size      5000 non-null   float64
 12  cleaned_security_deposit  5000 non-null   float64
 13  numRooms                  5000 non-null   int64
 14  house_configuration       5000 non-null   str
 15  cleaned_house_type        5000 non-null   str
dtypes: float64(7), int64(1), str(8)
memory usage: 625.1 KB

In [60]:
df = df.drop('house_type', axis=1)
df.head()

,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit,numRooms,house_configuration,cleaned_house_type
0,Ulwe,Mumbai,18.971046,73.017723,19000.0,INR,2.0,0.0,Not Negotiable,Furnished,1180.0,0.0,2,BHK,Apartment
1,Ulwe,Mumbai,18.966377,73.012802,12500.0,INR,2.0,0.0,Not Negotiable,Unfurnished,1120.0,0.0,2,BHK,Apartment
2,Panvel,Mumbai,18.965979,73.124649,22000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,1200.0,0.0,2,BHK,Apartment
3,Kandivali West,Mumbai,19.213598,72.833633,28500.0,INR,2.0,0.0,Not Negotiable,Unfurnished,750.0,0.0,2,BHK,Apartment
4,Chembur,Mumbai,19.062933,72.892395,50000.0,INR,3.0,0.0,Not Negotiable,Semi-Furnished,1400.0,0.0,3,BHK,Apartment

In [61]:
df.columns

Index(['location', 'city', 'latitude', 'longitude', 'price', 'currency',
       'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
       'converted_house_size', 'cleaned_security_deposit', 'numRooms',
       'house_configuration', 'cleaned_house_type'],
      dtype='str')

In [65]:
df_mumbai = df[['numRooms', 'house_configuration', 'cleaned_house_type', 
               'location', 'city', 'latitude', 'longitude', 'currency',
                'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
               'converted_house_size', 'cleaned_security_deposit', 'price']]

df_mumbai.to_csv('../../datasets/cleaned_mumbai_data.csv')