In [1]:
import pandas as pd

df=pd.read_csv("../../datasets/Indian_housing_Pune_data.csv")

# DATA COLLECTION

In [2]:
df.head(6)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,2 BHK Apartment,906 sq ft,Lohegaon,Pune,18.605820,73.912407,12000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,A spacious 2 bhk multistorey apartment is avai...,No Deposit,Unfurnished
1,1 BHK Apartment,650 sq ft,Anand Nagar,Pune,18.474377,73.820549,11000,INR,1.0,NaN,NaN,NaN,Posted 2 years ago,It has a built-up area of 650 sqft and is avai...,No Deposit,Semi-Furnished
2,1 RK Studio Apartment,350 sq ft,Wagholi,Pune,18.580336,73.980507,4500,INR,1.0,NaN,NaN,NaN,Posted 2 years ago,This spacious 1 rk independent house is availa...,No Deposit,Unfurnished
3,3 BHK Apartment,"1,500 sq ft",Sangamvadi,Pune,18.541786,73.882454,35000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,"Furnishings include 1 tv, 1 refrigerator, 1 so...",No Deposit,Furnished
4,5 BHK Independent House,"5,000 sq ft",Wadgaon Sheri,Pune,18.560164,73.924927,110000,INR,5.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 5 bhk independent house situated in W...,No Deposit,Unfurnished
5,2 BHK Apartment,975 sq ft,Tathawade,Pune,18.640373,73.736862,15500,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 2 bhk multistorey apartment situated ...,No Deposit,Semi-Furnished

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   house_type        3910 non-null   str
 1   house_size        3910 non-null   str
 2   location          3910 non-null   str
 3   city              3910 non-null   str
 4   latitude          3910 non-null   float64
 5   longitude         3910 non-null   float64
 6   price             3910 non-null   int64
 7   currency          3910 non-null   str
 8   numBathrooms      3893 non-null   float64
 9   numBalconies      1821 non-null   float64
 10  isNegotiable      526 non-null    str
 11  priceSqFt         0 non-null      float64
 12  verificationDate  3910 non-null   str
 13  description       3442 non-null   str
 14  SecurityDeposit   3910 non-null   str
 15  Status            3910 non-null   str
dtypes: float64(5), int64(1), str(10)
memory usage: 488.9 KB

In [4]:
df.tail(2)

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
3908,2 BHK Apartment,"1,200 sq ft",Pimple Saudagar,Pune,18.592476,73.798538,20000,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,It has a built-up area of 1200 sqft and is ava...,"60,000",Furnished
3909,2 BHK Apartment,933 sq ft,Rahatani,Pune,18.600847,73.789986,17500,INR,2.0,NaN,NaN,NaN,Posted 3 years ago,Itâs a 2 bhk multistorey apartment situated ...,"50,000",Unfurnished

In [5]:
df.nunique()

house_type            22
house_size           681
location             226
city                   1
latitude            1654
longitude           1621
price                168
currency               1
numBathrooms           7
numBalconies           4
isNegotiable           1
priceSqFt              0
verificationDate      47
description         3031
SecurityDeposit       87
Status                 3
dtype: int64

In [6]:
df['numBathrooms'].unique()

array([ 2.,  1.,  5.,  3.,  4., nan,  6.,  7.])

# DATA CLEANING

In [7]:
df.isnull()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,priceSqFt,verificationDate,description,SecurityDeposit,Status
0,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3906,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3907,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
3908,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
3909,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False

In [8]:
df.isnull().sum()

house_type             0
house_size             0
location               0
city                   0
latitude               0
longitude              0
price                  0
currency               0
numBathrooms          17
numBalconies        2089
isNegotiable        3384
priceSqFt           3910
verificationDate       0
description          468
SecurityDeposit        0
Status                 0
dtype: int64

In [9]:
df=df.drop(['priceSqFt','verificationDate','description'],axis=1)

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_type       3910 non-null   str
 1   house_size       3910 non-null   str
 2   location         3910 non-null   str
 3   city             3910 non-null   str
 4   latitude         3910 non-null   float64
 5   longitude        3910 non-null   float64
 6   price            3910 non-null   int64
 7   currency         3910 non-null   str
 8   numBathrooms     3893 non-null   float64
 9   numBalconies     1821 non-null   float64
 10  isNegotiable     526 non-null    str
 11  SecurityDeposit  3910 non-null   str
 12  Status           3910 non-null   str
dtypes: float64(4), int64(1), str(8)
memory usage: 397.2 KB

In [11]:
df['numBathrooms']=df['numBathrooms'].fillna(0.0)
df['numBathrooms'].unique()

array([2., 1., 5., 3., 4., 0., 6., 7.])

In [12]:
df['numBalconies']=df['numBalconies'].fillna(0.0)
df['numBalconies'].unique()

array([0., 1., 2., 3., 4.])

In [13]:
df['isNegotiable']=df['isNegotiable'].fillna("Not Negotiable")
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [14]:
df.head()

,house_type,house_size,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,SecurityDeposit,Status
0,2 BHK Apartment,906 sq ft,Lohegaon,Pune,18.605820,73.912407,12000,INR,2.0,0.0,Not Negotiable,No Deposit,Unfurnished
1,1 BHK Apartment,650 sq ft,Anand Nagar,Pune,18.474377,73.820549,11000,INR,1.0,0.0,Not Negotiable,No Deposit,Semi-Furnished
2,1 RK Studio Apartment,350 sq ft,Wagholi,Pune,18.580336,73.980507,4500,INR,1.0,0.0,Not Negotiable,No Deposit,Unfurnished
3,3 BHK Apartment,"1,500 sq ft",Sangamvadi,Pune,18.541786,73.882454,35000,INR,2.0,0.0,Not Negotiable,No Deposit,Furnished
4,5 BHK Independent House,"5,000 sq ft",Wadgaon Sheri,Pune,18.560164,73.924927,110000,INR,5.0,0.0,Not Negotiable,No Deposit,Unfurnished

In [15]:
df.isnull().sum()

house_type         0
house_size         0
location           0
city               0
latitude           0
longitude          0
price              0
currency           0
numBathrooms       0
numBalconies       0
isNegotiable       0
SecurityDeposit    0
Status             0
dtype: int64

In [16]:
def extract_house_size(house_size): #utility function
    price= house_size.split(" ")
    price = price[0].split(",")
    price = "".join(price)
    return float(price)

df['converted_house_size'] = df['house_size'].apply(lambda x: extract_house_size(x))
df['converted_house_size'].unique()

array([ 906.,  650.,  350., 1500., 5000.,  975.,  540.,  800., 1050.,
        700., 2500., 1280., 1630., 2700., 1333., 2300.,  550.,  600.,
       1354., 1200.,  950., 1400., 2310.,  900., 3800.,  750.,  610.,
       2100.,  300.,  627.,  250., 2000., 1650.,  905.,  754., 6000.,
       2200., 1000.,  730.,  621., 1600.,  980.,  680., 1100.,  710.,
       1250., 1060., 1300., 1211., 1350., 2130.,  850., 1800., 1560.,
        960., 1490.,  965.,  952., 1080.,  982., 1320.,  925.,  885.,
        935., 1030., 1225.,  915.,  880.,  815.,  904.,  868., 1002.,
        942., 1220., 1180., 1005., 1680., 1450., 1460.,  475., 1024.,
       1255., 1046.,  504.,  780., 2400.,  620.,  450.,  500.,  320.,
        986.,  513.,  738.,  400.,  995.,  555.,  609.,  568., 2900.,
       1217.,  630., 1075., 1900.,  812., 3000., 1550., 3400., 3200.,
        530., 1190.,  860., 1150., 1575., 1640., 1062., 1780., 1687.,
        658.,  875., 2542.,  625., 1265., 1025., 1750.,  937.,  920.,
        837.,  580., 1338., 1700., 1090., 2835., 1555., 1355.,  520.,
        970., 3500., 1308.,  890.,  629.,  708.,  931.,  380., 1310.,
        988.,  670.,  655.,  917., 4800., 1540.,  940., 2350.,  998.,
        985.,  967., 1499.,  602., 1196., 1045., 1056., 1386., 1404.,
       1103., 1004.,  676., 1065., 1003., 1380., 1160., 1405., 1095.,
       1010.,  549.,  999., 1008.,  984.,  641., 1057., 1155., 1755.,
       1435.,  640.,  648., 1070., 1022.,  634.,  638.,  642.,  921.,
       1017.,  958.,  929.,  949.,  943.,  628.,  639.,  907.,  790.,
       1120., 1130., 1290.,  460.,  560.,  882., 2150., 1012., 1287.,
        785.,  833.,  870.,  911., 1020., 1654., 1565., 1063.,  720.,
        944., 1085.,  690.,  992.,  612.,  525.,  702.,  757.,  936.,
        973., 1660.,  910.,  987.,  908., 1087.,  990.,  997., 1021.,
        954.,  934.,  951., 1645.,  618.,  705., 1143.,  978.,  961.,
        810., 1064.,  977.,  989.,  538.,  825., 1315.,  783., 1340.,
       1580.,  649., 1175., 1027.,  821., 1962.,  881.,  572.,  955.,
       1125., 1760.,  595.,  877., 1652.,  963.,  654., 1314.,  956.,
       1023.,  996.,  652., 1620.,  941., 1260.,  804.,  923., 1270.,
       1690.,  543., 1670., 1098., 1186.,  615.,  840.,  575., 1427.,
       2800., 1241., 1230., 1104., 1502., 1590.,  590., 4500.,  775.,
        957., 1398.,  570., 1131.,  597.,  714., 3690., 1170.,  845.,
       1157.,  768.,  866.,  896.,  645.,  858.,  930.,  793., 1066.,
        695.,  718., 1790., 1138., 1165., 1618., 1724.,  919.,  761.,
        968.,  698., 1352.,  674.,  976.,  856.,  852.,  854.,  664.,
        643., 1067.,  826., 1549., 1569.,  847., 2029., 1520.,  731.,
        835.,  632.,  819.,  622.,  895., 1034.,  829.,  743.,  822.,
        867.,  855.,  573., 1014.,  808., 1089.,  668.,  712., 1326.,
        745.,  969., 1015., 1271., 1508., 1704.,  660., 1061.,  581.,
       1081.,  432.,  302., 1082., 1071.,  903., 1171., 1031.,  617.,
        806., 1364.,  933., 1115., 1052.,  928., 1110., 1295.,  799.,
        687.,  897., 1339., 1523., 1001.,  749.,  666.,  974., 1595.,
        966.,  962., 1269.,  802.,  774.,  531.,  838., 1218., 1237.,
       1116., 1710., 1610.,  510.,  675.,  756., 1102.,  760.,  801.,
        535., 1201., 1114.,  924., 1242., 2502., 2145., 1825., 1140.,
        661.,  150.,  270., 2454.,  817.,  926.,  725., 1497.,  624.,
        425., 1428.,  787.,  816.,  983., 1011.,  809.,  795., 1019.,
       1210.,  886.,  544., 1233., 1192.,  741., 1635., 1048.,  410.,
        851., 1169., 1423., 1235.,  589., 1053.,  724., 1016., 1401.,
        662.,  180.,  347., 1224., 1072.,  824., 2620., 1311., 1594.,
       1249.,  539.,  659.,  508., 1787.,  899., 1530., 1167.,  820.,
        716.,  614., 1637., 1028., 1532.,  200., 1491., 1385.,  607.,
        558.,  644., 1563.,  470.,  913.,  777.,  945.,  891., 1495.,
       1556., 1301.,  461.,  361., 5183., 1357., 1472., 1111., 1105.,
       1133., 2182., 2359., 2280., 2250., 1390., 1149., 1079., 2745.,
       1360., 1740., 1835., 1134., 2420., 2945., 1536.,  225., 1205.,
       9500.,  631., 1851., 1810., 1376., 1093., 1174., 1772., 1821.,
        633., 1742., 1445., 1441., 1135., 1812.,  553., 1284., 1369.,
       2308.,  972., 1266., 2105., 1860., 1136.,  616.,  684., 1124.,
        482., 1335., 3850.,  830., 1516., 1040., 1216.,  846., 1451.,
       1470., 1617.,  922., 1047., 1305., 1558., 1358.,  872.,  623.,
        740.,  605.,  938., 1037., 1553., 2281.,  844., 1197., 1251.,
        562.,  865., 1254., 1485.,  711., 6012.,  765., 1323., 1262.,
       2924., 1745., 1163.,  803., 1526.,  635.,  611.,  713.,  701.,
        728., 1298., 1078.,  552.,  696.,  699.,  729.,  481., 1258.,
       1206.,  588., 1436., 1381.,  770., 1678., 4200., 1489., 1440.,
        585., 7500., 6094.,  657.,  577.,  792.,  682., 1226.,  651.,
       1032.,  285., 1458., 2600., 1042.,  561., 1367., 1245., 1277.,
        360.,  843.,  564., 1084.,  519.,  993.,  685., 1422., 1302.,
        483.,  559.,  310.,  914.,  916., 1410., 1673.,  210.,  681.,
        715.,  832.,  534., 1026.,  265.,  390.,  490.,  445.,  994.,
        947.,  755.,  315., 1275., 1278., 1761.,  939., 1336.,  375.,
       1153., 1475.,  495., 1721., 1425., 1395.,  382., 1055., 1147.,
       1127.,  563.,  565., 1484., 1313., 1426.])

In [17]:
df['house_type'].unique()

<StringArray>
[        '2 BHK Apartment ',         '1 BHK Apartment ',
   '1 RK Studio Apartment ',         '3 BHK Apartment ',
 '5 BHK Independent House ', '1 BHK Independent House ',
         '5 BHK Apartment ', '3 BHK Independent House ',
         '4 BHK Apartment ',             '3 BHK Villa ',
             '4 BHK Villa ', '1 BHK Independent Floor ',
 '2 BHK Independent House ', '4 BHK Independent House ',
             '5 BHK Villa ', '2 BHK Independent Floor ',
 '4 BHK Independent Floor ', '3 BHK Independent Floor ',
             '2 BHK Villa ',         '6 BHK Apartment ',
             '1 BHK Villa ', '6 BHK Independent House ']
Length: 22, dtype: str

In [18]:
df['location'].unique()

<StringArray>
[          'Lohegaon',        'Anand Nagar',            'Wagholi',
         'Sangamvadi',      'Wadgaon Sheri',          'Tathawade',
          'Hinjewadi',        'Viman Nagar',              'Undri',
      'Pimple Nilakh',
 ...
           'Agalambe',          'Ganj Peth',           'Talegaon',
    'Pashan Sus Road',        'Shewalewadi',           ' Kharadi',
          'Kasarwadi', 'Taljai Temple Road',     'Dighi Gaonthan',
 'Pan Card Club Road']
Length: 226, dtype: str

In [19]:
df['city'].unique()

<StringArray>
['Pune']
Length: 1, dtype: str

In [20]:
df['price']=df['price'].astype(float)
df['price'].dtype

dtype('float64')

In [21]:
df['currency'].unique()

<StringArray>
['INR']
Length: 1, dtype: str

In [22]:
df['isNegotiable'].unique()

<StringArray>
['Not Negotiable', 'Negotiable']
Length: 2, dtype: str

In [23]:
def clean_security_deposit(security_deposit):
    if security_deposit == 'No Deposit':
        return 0.0
    else:
        security_deposit = security_deposit.split(",")
        security_deposit = "".join(security_deposit)
        security_deposit.strip()
        return int(security_deposit)
    
df['cleaned_security_deposit'] = df['SecurityDeposit'].apply(lambda x: clean_security_deposit(x))
df['cleaned_security_deposit'].dtype

dtype('float64')

In [24]:
df['Status'].unique()

<StringArray>
['Unfurnished', 'Semi-Furnished', 'Furnished']
Length: 3, dtype: str

In [25]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                3910 non-null   str
 1   house_size                3910 non-null   str
 2   location                  3910 non-null   str
 3   city                      3910 non-null   str
 4   latitude                  3910 non-null   float64
 5   longitude                 3910 non-null   float64
 6   price                     3910 non-null   float64
 7   currency                  3910 non-null   str
 8   numBathrooms              3910 non-null   float64
 9   numBalconies              3910 non-null   float64
 10  isNegotiable              3910 non-null   str
 11  SecurityDeposit           3910 non-null   str
 12  Status                    3910 non-null   str
 13  converted_house_size      3910 non-null   float64
 14  cleaned_security_deposit  3910 non-null   float64
dtypes: float64(7), str(8)
memory usage: 458.3 KB

In [26]:
df=df.drop(['SecurityDeposit', 'house_size'],axis=1)
df.head()

,house_type,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit
0,2 BHK Apartment,Lohegaon,Pune,18.605820,73.912407,12000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,906.0,0.0
1,1 BHK Apartment,Anand Nagar,Pune,18.474377,73.820549,11000.0,INR,1.0,0.0,Not Negotiable,Semi-Furnished,650.0,0.0
2,1 RK Studio Apartment,Wagholi,Pune,18.580336,73.980507,4500.0,INR,1.0,0.0,Not Negotiable,Unfurnished,350.0,0.0
3,3 BHK Apartment,Sangamvadi,Pune,18.541786,73.882454,35000.0,INR,2.0,0.0,Not Negotiable,Furnished,1500.0,0.0
4,5 BHK Independent House,Wadgaon Sheri,Pune,18.560164,73.924927,110000.0,INR,5.0,0.0,Not Negotiable,Unfurnished,5000.0,0.0

In [27]:
def get_numRooms(house_type):
    return int(house_type.split(" ")[0])

def get_configuration(house_type):
    return house_type.split(" ")[1]

def get_house_type(house_type):
    house_type = " ".join(house_type.split(" ")[2:])
    return house_type.strip()

df['numRooms'] = df['house_type'].apply(lambda x: get_numRooms(x))
df['house_configuration'] = df['house_type'].apply(lambda x: get_configuration(x))
df['cleaned_house_type'] = df['house_type'].apply(lambda x: get_house_type(x))
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   house_type                3910 non-null   str
 1   location                  3910 non-null   str
 2   city                      3910 non-null   str
 3   latitude                  3910 non-null   float64
 4   longitude                 3910 non-null   float64
 5   price                     3910 non-null   float64
 6   currency                  3910 non-null   str
 7   numBathrooms              3910 non-null   float64
 8   numBalconies              3910 non-null   float64
 9   isNegotiable              3910 non-null   str
 10  Status                    3910 non-null   str
 11  converted_house_size      3910 non-null   float64
 12  cleaned_security_deposit  3910 non-null   float64
 13  numRooms                  3910 non-null   int64
 14  house_configuration       3910 non-null   str
 15  cleaned_house_type        3910 non-null   str
dtypes: float64(7), int64(1), str(8)
memory usage: 488.9 KB

In [28]:
df = df.drop('house_type', axis=1)
df.head()

,location,city,latitude,longitude,price,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit,numRooms,house_configuration,cleaned_house_type
0,Lohegaon,Pune,18.605820,73.912407,12000.0,INR,2.0,0.0,Not Negotiable,Unfurnished,906.0,0.0,2,BHK,Apartment
1,Anand Nagar,Pune,18.474377,73.820549,11000.0,INR,1.0,0.0,Not Negotiable,Semi-Furnished,650.0,0.0,1,BHK,Apartment
2,Wagholi,Pune,18.580336,73.980507,4500.0,INR,1.0,0.0,Not Negotiable,Unfurnished,350.0,0.0,1,RK,Studio Apartment
3,Sangamvadi,Pune,18.541786,73.882454,35000.0,INR,2.0,0.0,Not Negotiable,Furnished,1500.0,0.0,3,BHK,Apartment
4,Wadgaon Sheri,Pune,18.560164,73.924927,110000.0,INR,5.0,0.0,Not Negotiable,Unfurnished,5000.0,0.0,5,BHK,Independent House

In [29]:
df.columns

Index(['location', 'city', 'latitude', 'longitude', 'price', 'currency',
       'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
       'converted_house_size', 'cleaned_security_deposit', 'numRooms',
       'house_configuration', 'cleaned_house_type'],
      dtype='str')

In [33]:
df_pune = df[['numRooms', 'house_configuration', 'cleaned_house_type', 
               'location', 'city', 'latitude', 'longitude', 'currency',
                'numBathrooms', 'numBalconies', 'isNegotiable', 'Status',
               'converted_house_size', 'cleaned_security_deposit', 'price']]

df_pune.to_csv('../../datasets/cleaned_pune_data.csv')