In [17]:
import pandas as pd
df1 = pd.read_csv('../../datasets/cleaned_delhi_data.csv')
df2 = pd.read_csv('../../datasets/cleaned_mumbai_data.csv')
df3 = pd.read_csv('../../datasets/cleaned_pune_data.csv')

In [18]:
df1.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   numRooms                  5000 non-null   int64
 1   house_configuration       5000 non-null   str
 2   cleaned_house_type        5000 non-null   str
 3   location                  5000 non-null   str
 4   city                      5000 non-null   str
 5   latitude                  5000 non-null   float64
 6   longitude                 5000 non-null   float64
 7   currency                  5000 non-null   str
 8   numBathrooms              5000 non-null   float64
 9   numBalconies              5000 non-null   float64
 10  isNegotiable              5000 non-null   str
 11  Status                    5000 non-null   str
 12  converted_house_size      5000 non-null   float64
 13  cleaned_security_deposit  5000 non-null   float64
 14  price                     5000 non-null   float64
dtypes: float64(7), int64(1), str(7)
memory usage: 586.1 KB

In [19]:
df2.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   numRooms                  5000 non-null   int64
 1   house_configuration       5000 non-null   str
 2   cleaned_house_type        5000 non-null   str
 3   location                  5000 non-null   str
 4   city                      5000 non-null   str
 5   latitude                  5000 non-null   float64
 6   longitude                 5000 non-null   float64
 7   currency                  5000 non-null   str
 8   numBathrooms              5000 non-null   float64
 9   numBalconies              5000 non-null   float64
 10  isNegotiable              5000 non-null   str
 11  Status                    5000 non-null   str
 12  converted_house_size      5000 non-null   float64
 13  cleaned_security_deposit  5000 non-null   float64
 14  price                     5000 non-null   float64
dtypes: float64(7), int64(1), str(7)
memory usage: 586.1 KB

In [20]:
df3.info()

<class 'pandas.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   numRooms                  3910 non-null   int64
 1   house_configuration       3910 non-null   str
 2   cleaned_house_type        3910 non-null   str
 3   location                  3910 non-null   str
 4   city                      3910 non-null   str
 5   latitude                  3910 non-null   float64
 6   longitude                 3910 non-null   float64
 7   currency                  3910 non-null   str
 8   numBathrooms              3910 non-null   float64
 9   numBalconies              3910 non-null   float64
 10  isNegotiable              3910 non-null   str
 11  Status                    3910 non-null   str
 12  converted_house_size      3910 non-null   float64
 13  cleaned_security_deposit  3910 non-null   float64
 14  price                     3910 non-null   float64
dtypes: float64(7), int64(1), str(7)
memory usage: 458.3 KB

In [22]:
combined_housing_data = pd.concat([df1, df2, df3])
combined_housing_data

,numRooms,house_configuration,cleaned_house_type,location,city,latitude,longitude,currency,numBathrooms,numBalconies,isNegotiable,Status,converted_house_size,cleaned_security_deposit,price
0,1,RK,Studio Apartment,Kalkaji,Delhi,28.545561,77.254349,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,22000.0
1,1,RK,Studio Apartment,Mansarover Garden,Delhi,28.643259,77.132828,INR,1.0,0.0,Not Negotiable,Furnished,400.0,0.0,20000.0
2,2,BHK,Independent Floor,Uttam Nagar,Delhi,28.618677,77.053352,INR,1.0,0.0,Not Negotiable,Semi-Furnished,500.0,0.0,8500.0
3,3,BHK,Independent House,Model Town,Delhi,28.712898,77.180000,INR,3.0,0.0,Not Negotiable,Furnished,1020.0,0.0,48000.0
4,2,BHK,Apartment,Sector 13 Rohini,Delhi,28.723539,77.131424,INR,2.0,0.0,Not Negotiable,Unfurnished,810.0,0.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1,BHK,Apartment,Wakad,Pune,18.603699,73.761238,INR,1.0,0.0,Not Negotiable,Unfurnished,655.0,36000.0,12500.0
3906,2,BHK,Apartment,Pimple Saudagar,Pune,18.594870,73.798187,INR,2.0,0.0,Not Negotiable,Unfurnished,920.0,50000.0,16000.0
3907,1,BHK,Apartment,Pimple Saudagar,Pune,18.595701,73.797890,INR,1.0,1.0,Not Negotiable,Furnished,650.0,35000.0,16000.0
3908,2,BHK,Apartment,Pimple Saudagar,Pune,18.592476,73.798538,INR,2.0,0.0,Not Negotiable,Furnished,1200.0,60000.0,20000.0
3909,2,BHK,Apartment,Rahatani,Pune,18.600847,73.789986,INR,2.0,0.0,Not Negotiable,Unfurnished,933.0,50000.0,17500.0

In [23]:
combined_housing_data.info()

<class 'pandas.DataFrame'>
Index: 13910 entries, 0 to 3909
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   numRooms                  13910 non-null  int64
 1   house_configuration       13910 non-null  str
 2   cleaned_house_type        13910 non-null  str
 3   location                  13910 non-null  str
 4   city                      13910 non-null  str
 5   latitude                  13910 non-null  float64
 6   longitude                 13910 non-null  float64
 7   currency                  13910 non-null  str
 8   numBathrooms              13910 non-null  float64
 9   numBalconies              13910 non-null  float64
 10  isNegotiable              13910 non-null  str
 11  Status                    13910 non-null  str
 12  converted_house_size      13910 non-null  float64
 13  cleaned_security_deposit  13910 non-null  float64
 14  price                     13910 non-null  float64
dtypes: float64(7), int64(1), str(7)
memory usage: 1.7 MB

In [27]:
combined_housing_data['numRooms'].unique()

array([ 1,  2,  3,  4,  8,  6,  5,  7, 10,  9, 12])